html, body {
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    flex: 0 0 45px;
    color: white;
    /* justify-content: center; */
    padding: 10px;
}
header nav {
    background-color: transparent;
}
header nav ul {
    margin-left: 10em;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
header nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
header nav a:hover {
    text-decoration: underline
}

nav ul li {
    list-style-type: none;
}

figure.hero {
    position: relative;
    height: 0;
    padding-left: 0;
    padding-bottom: 35%;
    overflow: hidden;
    margin: 0;
}
figure.hero img {
    transform: scale(1.03);
}

figure.hero figcaption{
    position: absolute;
    font-style: normal;
    padding: 0;
    margin: 0;
    left: 0;
    top: 50%;
    color: white;
    
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    padding: 10px 0;
}

.about h2 {
    font-size: 30px;
    text-align: center;
}

.about hr {
    background-color: black;
    height: 1px;
    width: 50%;
    border: 0;
    transform: translateY(-600%);
}

.about p {
    text-align: center;
}

main.grid {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-column-gap: 20px;
    background-color: var(--second-color);
    flex: 0 0 80px;
    flex-direction: row;
    padding: 40px 0px;
    min-height: 80px;
}

main section:first-child {
    grid-column: 2;
}

form {
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 425px;
    width: 100%;
     padding: 20px 20px;
}

form input, textarea {
    margin: 10px 0;
    border: 0;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
}

form input[type=submit] {
    width: 100%;
    color: white;
    background-color: black;
}

form textarea {
    min-height: 60px;
    max-height: 100px;
    resize: vertical;
}

table.styled {
    width: 100%;
    border-collapse: collapse;
}

table.styled th {
    text-align: center;
}
table.styled th, table.styled td {
    border: none;
    padding: 5px;
}

main table.styled th {
    background: none;
    text-align: left;
}
main table.styled th, main table.styled td {
    border: 0;
}